!!! 5
%html
  %head
    %title Events - Exeter MCR
    %link{ :rel => 'icon', :href => 'http://exetermcr.org/exeter-small-crest.gif', :type => 'image/x-icon' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700', :rel => 'stylesheet' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600', :rel => 'stylesheet' }
    %link{ :href => 'http://exetermcr.org/style.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen', :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :href => 'http://exetermcr.org/print.css', :media => 'print' }
    %script{ :src => 'http://exetermcr.org/assets/jquery-1.8.3.min.js' }
    %script{ :src => 'http://exetermcr.org/assets/toggle-menu.js' }
    %script{ :src => 'http://exetermcr.org/assets/jquery.ba-throttle-debounce.min.js' }
    %script{ :src => 'http://exetermcr.org/assets/analytics.js' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }
      
  %body
    %header
      .header
        %h1
          %a{ :href => '/' }
            %img{ :height => '30px', :src => 'http://exetermcr.org/exeter-crest-small.gif' }
          %a{ :href => '/' } exeter college mcr
        %img{ :class => 'banner', :src => 'http://exetermcr.org/images/headers/2.jpg', :width => '100%' }
    %nav
      .navbar
        %ul
          %li
            %a{ :id => 'menu', :class => 'hide', :href => '#' } Menu
          %li{ :class => 'nav' }
            %a{ :href => '/about' } About
          %li{ :class => 'nav' }
            %a{ :href => '/committee' } Committee
          %li{ :class => 'nav' }
            %a{ :href => '/welfare' } Welfare
          %li{ :class => 'nav' }
            %a{ :href => '/events' } Events
          %li{ :class => 'nav' }
            %a{ :href => '/current-students' } Current students
          %li{ :class => 'nav' }
            %a{ :href => '/contact' } Contact
    #body
      #page-header
        %h2 events
      .alert.alert-information.noprint
        %p
          %a{ :href => gcal_url }Download iCalendar
          ;
          %a{ :href => gcal_feed_url } Subscribe to feed
      #content
        -for event in @events
          .event{ :class => (to_timezone(event.start_time) === @today ? 'today' : '') }
            .event-title
              %span{ :class => 'date' }=to_timezone(event.start_time).strftime '%B %d'
              %span{ :class => 'summary' }=h event.summary
            .details
              .coordinates
                %span{ :class => 'timerange' }=format_time_range(event.start_time, event.finish_time)
                -if !event.location.empty?
                  &#149;
                  %span{ :class => 'location' }=h event.location
              -if !event.description.empty?
                .description=markdown event.description
      %footer
        .footer
          %ul
            %li
              %a{ :href => '/contact' }Contact us
            %li
              %a{ :href => '/cookies' }Cookies
              
